{# empty Twig template #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>ERROR - No BRI available for Multinumber</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
		<div class="central">
			<h2>No BRI ports available for multinumber configuration</h2>
			<form method="link" action="{{ path('newpui') }} "><input type="submit" value=" Skip multipoint configuration"></form>

		</div>

    </body>
			
			