{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Sim calls configuration</title>
		<link rel="stylesheet" href="/css/Style1.css" />
	</head>
  
	<body>
		<div class="central">
			<h2>Sim calls configuration</h2>
			<form action="{{ path('simcalls') }}" method="post" {{ form_enctype(simcalls_form) }}>
					{{ form_widget(simcalls_form) }} 
				<br>
					<input type="submit" />
			</form>
		</div>

    </body>
