{# qui si definisce come formattare il form con nome indicato in form_widget e con route che rimanda al controller definita in path #}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>XMl file created</title>
	<link rel="stylesheet" href="/css/Style1.css" />
</head>
  
<body>
	<div class="summary">
		<h2>If you are using Firefox to display xml file, right click and  select "View page source" or "View source"</h2>
	</div>
</body>
		{{xmlfile}}
