/* 
    Document   : Style1
    Created on : 11-giu-2012, 23.10.40
    Author     : mfigus
    Description:
        Purpose of the stylesheet follows.
*/

body {
	font-family: Verdana, sans-serif; 
	font-size: 10px
}

/*td{
	font-size: 11px;
}*/

table{
	font-size: 12px;
}

table.gnr{
	font-size: 11px
}

.wrap {
    width: 600px;
    margin: auto;
	font-size: 14px;
}

.summary {
    font-size: 10px;
}


