/* 
    Document   : Style1
    Created on : 11-giu-2012, 23.10.40
    Author     : mfigus
    Description:
        Purpose of the stylesheet follows.
*/

body {
	font-family: Verdana, sans-serif; 
	font-size: 10px
}

td.form{ font-size: 16px; }
table.gnr{ font-size: 11px }

.wrap {
    width: 42%;
    margin: auto;
	font-size: 12px;
	float: right;
}

div.wrap td{	font-size: 11px;}


.central {
    width: 50%;
    margin: auto;
	font-size: 14px;
}

div.summary {
	background:   lavender;
	width: 70%;
	margin: auto;
	font-size: 11px;
}

div.summary td{
	font-size: 11px;
}


aside.summary {
	background:   lavender;
	width: 55%;
	float: left;
}

aside.summary td{	font-size: 11px;}

.error{
	font-style: italic;
	color: red;
}